/* ========= modification of navigation buttons =============*/
.paginav {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.paginav .prev,
.paginav .next {
    flex-grow: 1;
}

.paginav .prev {
  text-align: right;
}

.paginav .next {
  text-align: left;
}


/* ========= papermod mods =============*/
/* Increase the default width of the page. */
.main {
    max-width: calc(var(--main-width) + var(--gap) * 30);
}
/* Increase less for the home page.
This will eventually replace the following two rules. But for now
the browser support for :has is not widespread yet.
.main:has(.first-entry) {
    max-width: calc(var(--main-width) + var(--gap) * 10);
}
*/
.post-entry {
    max-width: calc(var(--main-width) + var(--gap) * 10);
    margin-left: auto;
    margin-right: auto;
}
.first-entry {
    max-width: calc(var(--main-width) + var(--gap) * 10);
    margin-left: auto;
    margin-right: auto;
}


/* Increase the width of images placed in home info. */
.home-info .entry-content img {
    width: 100%;
    max-width: fit-content;
    border-radius: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/* Increase the font of summary text. */
.post-entry .entry-content {
    font-size: 18px;
}

/* Set a limit on the width of post images and align them center. */
.post-single .entry-cover {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.post-content img {
    margin: auto;
}
.post-content figcaption {
  text-align: center;
}

/* Image positioning classes from Tracknut Option 2 */
/* https://tracknut.ca/tech/markdown-image-handling/ */

.right {
  float: right;
  max-width: 40%;
  margin-left: 5px;
}

.left {
  float: left;
  max-width: 40%;
  margin-right: 20px;
}

.center {
  display: block;
  margin: auto;
  text-align: center;
}

