<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}">

    <head>
        {{- partial "head.html" . -}}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nanogallery2@3.0.5/dist/css/nanogallery2.min.css">
    </head>

    <body>
        <div class="page">

            <header class="page__header">
                {{- partial "header.html" . -}}
            </header>

            <section class="page__body">
                {{- block "main" . }}{{- end }}
            </section>

            <section class="page__aside">
                <div class="aside__about">
                    {{- partial "about.html" . -}}
                </div>
                <hr>
                <div class="aside__content">
                    {{- block "aside" . }}{{- end }}
                </div>
            </section>

            <footer class="page__footer">
                {{- partial "footer.html" . -}}
            </footer>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/nanogallery2@3.0.5/dist/jquery.nanogallery2.min.js"></script>
    </body>
</html>

    </body>

</html>
