{{/* layouts/shortcodes/social-icon.html */}}

{{ $type := .Get "type" | lower }}
{{ $url := .Get "url" }}
{{ $email := .Get "email" }}

{{ $icon := "" }}
{{ $href := "" }}
{{ $alt := "" }}

{{ if eq $type "linkedin" }}
  {{ $icon = "https://cdn-icons-png.flaticon.com/512/3536/3536505.png" }}
  {{ $href = $url }}
  {{ $alt = "LinkedIn" }}
{{ else if eq $type "github" }}
  {{ $icon = "https://cdn-icons-png.flaticon.com/512/733/733553.png" }}
  {{ $href = $url }}
  {{ $alt = "GitHub" }}
{{ else if eq $type "instagram" }}
  {{ $icon = "https://cdn-icons-png.flaticon.com/512/3536/3536559.png" }}
  {{ $href = $url }}
  {{ $alt = "Instagram" }}
{{ else if eq $type "strava" }}
  {{ $icon = "https://cdn.worldvectorlogo.com/logos/strava-2.svg" }}
  {{ $href = $url }}
  {{ $alt = "Strava" }}
{{ else if eq $type "email" }}
  {{ $icon = "https://cdn-icons-png.freepik.com/256/16076/16076082.png?semt=ais_hybrid" }}
  {{ $href = print "mailto:" $email }}
  {{ $alt = "Email" }}
{{ else if eq $type "reddit" }}
  {{ $icon = "https://images.seeklogo.com/logo-png/40/1/reddit-logo-png_seeklogo-409489.png" }}
  {{ $href = $url }}
  {{ $alt = "Reddit" }}
{{ end }}

<a href="{{ $href }}" target="_blank" rel="noopener noreferrer" class="social-icon" aria-label="{{ $alt }}">
  <img src="{{ $icon }}" alt="{{ $alt }}" width="20" height="20">
  <span>{{ $alt }}</span>
</a>

